@model IEnumerable<OnlineShopping.Models.DB.Sp_Uorder_Details_Result>

@{
    ViewBag.Title = "UOrderlist";
}

<h2>Orderlist</h2>
<div>
    @foreach (var item in Model)
    {
            <input type="button" value="Bact to items" class=" btn btn-success" onclick="location.href='@Url.Action("UItemlist", "UItem", new { id = item.ItemID })'"> 
        break;
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ItemName")
        </th>
        <th>
            @Html.DisplayName("OrderDescription")
        </th>
        <th>
            @Html.DisplayName("OrderImage")         
        </th>
        <th>
            @Html.DisplayName("Price")
        </th>
        <th>
            @Html.DisplayName("Quality")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelitem=>item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDescription)
        </td>
        <td>
            <img src="@Url.Content("~/Images/"+item.OrderImage)"style="width:100px;height:100px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quality)
        </td>
        <td>
            <input type="button" value="Check out" class="btn btn-success" onclick="location.href='@Url.Action("create", "CardDetails")'">
        </td>
        <td>
            <input type="button" value="AddtoKart" class="btn btn-success" onclick="location.href='@Url.Action("Create", "AddtoKart")'">
        </td>
    </tr>
}

</table>
